{% load blog %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hogeブログ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


</head>
<body>
<header class="hero hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><a href="{% url 'blog:post_list' %}">Hogeブログ</a></h1>
            {% if user.id %}
            <h2 class="subtitle"><a href="{% url 'blog:post_create' %}">新規作成</a></h2>
            {% endif %}
            {% if user.id  %}
                <p>ログインしました．</p>
                <p>こんにちは、{{ user.username }}さん</p>
                <a href="{% url 'blog:logout' %}">ログアウトする</a>
                <a>作成した記事をみる</a>
            {% else %}
                <a href="{% url 'blog:login' %}">ログイン</a>
                <a href="{% url 'blog:create' %}">アカウント作成</a>
            {% endif %}


        </div>
    </div>
</header>

<div class="section">
    <div class="container">
        <div class="columns">
            <main class="column is-7">
                {% block content %}{% endblock %}
            </main>
            <aside class="column is-offset-1 is-4">
                {% create_category_and_tag_list %}
                {% create_search_form request %}
            </aside>

        </div>
    </div>
</div>


</body>
</html>